save-prefix=^
strict-ssl=false
#registry=https://torredecontrol.si.orange.es/nexus/repository/npm-group-repo/
registry=http://artifactsrepository-tc.shared-nonprod.cloud.si.orange.es/artifactory/api/npm/npm-group-repo/
